main{
    margin: 0px;
    margin-top:0px; margin-bottom:0;
    height: 1000px;

    /*.linea3{
        background-color: $tercerColor;
    }
   */
    .portada__guitar{
        width:100%; 
                       
        animation: movimientoImagen 2s
        }

        @keyframes movimientoImagen {
            from {
              margin-left:100%;
              width:200%
            }
          
            to {
             margin-left:0%;
             width:100%;
           }    
        }

        .infoContainer{
            background-color: black;
            box-shadow: #333;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(2, 1fr);
            padding: 3rem;
            transition: all 4s;
            margin: 3rem;
            color:white;
            border-radius: 6px;
            
            img{
                width:30vw;
                height: 90vh;
            }

            .btn {
                background:$tercerColor;
                color: white;
                box-sizing: border-box;
                text-decoration: none;
                border: 0;
                color: #fffffe;
                padding:20px;
                margin:30px;
            }

            h3{
                color: $tercerColor;
            }

            p{
                color:#bac3e4; text-align: center; 
                font-family: 'Roboto', sans-serif;
                font-size: 15px;
                font-style: normal;
                word-spacing: 5px;
                padding: 10px;
                text-justify: auto;
                }

            
        }
            

    div{
        height:$alto*0.6;
        padding:$padding;
        }

    .box1{
        width: 90%;
        height: $alto/1.8;
        border-radius: 10px;
        padding: 30px;;
        margin-left: 60px;
        background-color: white;
        box-shadow: 20px 10px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 20px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 20px 10px 5px 0px rgba(0,0,0,0.75);    
            .datos{
                margin: 10px;
                @extend %fontStyle;
                @extend %formatText;
            }
          }    

    #titulo{
        width: 100%;
        height: 50px;
        padding: 10px;
        margin:10px;
        h2{text-align: left;
           }
             
    }   
    
    h2{
        @extend %fontStyleH2;
        padding: $padding*1.5;
    }
    h3{
        @extend %fontStyleH3;
        padding: $padding;
    }

    .grid{
      
        @include grid(grid, 25vw 25vw 25vw 25vw,30vh 30vh 30vh 30vh,$gap*0.75,$gap*5);
        @extend %formatGrid;
    
    
        .imagen1{
            grid-area: imagen1;
            background-image: url("../Imagenes/fla1.jpg");
            @extend %imgGrid;
            }    
        
        
        .imagen2{
            grid-area: imagen2;
            background-image: url("../Imagenes/fla2.jpg");
            @extend %imgGrid;
        } 
        
        .imagen3{
            grid-area: imagen3;
            background-image: url("../Imagenes/fla3.jpg");
            @extend %imgGrid;
        } 
        
        .imagen4{
            grid-area: imagen4;
            background-image: url("../Imagenes/fla4.jpg");
            @extend %imgGrid;
        } 
        
        .imagen5{
            grid-area: imagen5;
            background-image: url("../Imagenes/fla5.jpg");
            @extend %imgGrid;
        } 

        }   
           
    /*.section_container{
        .container{
            height: 700px;
            width: 80%;
            margin:30px;
            .row{
                .col{
                    #carouselExampleSlidesOnly{
                        div{
                            height: 700px;
                            width: 700px;
                            img{
                                height: auto;
                                width: auto;

                            }
                        }
                    }
                }
            }
        }

    }*/
    .carouselFla{
       height: 600px;
        width: 100%;
        background-color:$tercerColor;
       
        
        #carouselExampleControls{
           justify-self: left;
            height: 400px;
            width: 400px;
            padding:20px;
            margin-left: auto; margin-right: auto;
            border-radius: 2px;
            div{
                div{height: 500px;
                    width: 500px;
                    img{
                        padding-left: 60px;
                        padding:20px;
                        height: 500px;
                        width: 500px;
                    }
                }
            }
    
        }

    }

    .infoContainer4{
        background-color: $tercerColor;
        box-shadow: #333;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem;
        transition: all 4s;
        margin: 3rem;
        color:white;
        border-radius: 6px;
        height: 700px;

        h2{
            color:$colorPrincipal; 
            vertical-align: middle;
            font-family: 'Lobster';
            font-size: 50px;
            font-style: normal;
            font-weight: bold;
            word-spacing: 20px;
            padding: 30px;
            margin-left: 50px;
        
        }
    }
        
    }