main{
    margin-top:10px; margin-bottom:0;

    img{
        width:100%; 
    }

    div{
        height:60vh;
        padding:20px;
    }
    
    h2{
        color:#bac3e4; text-align: center; 
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: bold;
        word-spacing: 20px;
        padding: 30px;
    }
    h3{
        color:black; text-align: left; 
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight:lighter;
        line-height: 30px;
        padding: 20px;
    }

}