$colorPrincipal:#1A7FAF;
$segundoColor:black;
$tercerColor:thistle;
$letraPpal:'Roboto', sans-serif;
$tamLetraPpal:20px;
$padding:20px;
$ancho:80vw;
$alto: 100vh;
$wordSpac:20px;
$margin:10px;
$gap:50px;
